@font-face {
  font-family: "Quicksand-Regular", sans-serif;
  src: url("../fonts/Quicksand-Bold.woff2") format("woff2"),
    url("../fonts/Quicksand-Bold.woff") format("woff");
    font-weight: 400;
    font-display: swap;
}
