@import "vars";
@import "global";
@import "fonts";



//start header 
.header__logo {
  display: block;
  cursor: pointer;
}
.header__top {
  background-color: #eef1f3;

  &-inner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-btn {
    background-color: $blue;
    color: #fff;
    display: block;
    font-size: 16px;
    width: 140px;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
  }
  &-author {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-name {
    display: block;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    color: #333333;
    font-weight: 500;
  }
  &-cash {
    display: block;
    color: $blue;
    padding-top: 8px;
    font-size: 15px;
    background-image: url();
  }
}
.header__top-avatar-link {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 30px;
}
.header__bottom-inner {
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-list {
  li {
    display: inline-block;
    & + li {
      margin-left: 30px;
    }
  }
  a {
    font-size: 15px;
    color: #333333;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Quicksand", sans-serif;
  }
}
.header__bottom-form {
  max-width: 360px;
  width: 100%;
  position: relative;
  input {
    height: 45px;
    display: block;
    width: 100%;
    border: 1px solid #dae0e6;
    border-radius: 20px;
    padding: 15px 90px 15px 25px;
    font-weight: 500;
    font-family: "Quicksand", sans-serif;
    color: #333333;
    &::placeholder {
      color: #898f96;
      font-size: 15px;
      padding: 15px 90px 15px 25px;
    }
  }
  button {
      width: 70px;
      height: 45px;
      border: none;
      border-radius: 25px;
      background-color: $blue;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      outline: none;
      
  }
}

//end header

//start search 
.search {
    position: relative;
    min-height:730px;
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    &__inner {
        text-align: center;
        padding: 185px 0 140px;
        &-titel {
            font-size: 60px;
            line-height: 70px;
            color: #fff;
            span {
                display: block;
                font-weight: 900;
                font-family: "Quicksand", sans-serif;
                margin-bottom: 35px;
            }
        }
        &-text {
            font-weight: 500;
            font-family: "Quicksand", sans-serif;
            font-size: 20px;
            color: #fff;
            margin-bottom: 60px;
        }
    }
}
.search__inner-link {
   
    a {
        width: 190px;
        height: 55px;
        color: #fff;
        background-color: transparent;
        border: 1px solid #fff;
        line-height: 55px;
        font-size: 16px;
        border-radius: 30px;
        margin-bottom: 140px;
        transition: all .5s;
        & + a {
            margin-left: 30px;
        }
        &:hover {
            background-color: #fff;
            color: $blue;
        }
    }
}
.search__inner-form {
    position: absolute;
    bottom: -67px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    max-width: 1140px;
    width: 100%;
    height: 140px;
    background-color: #fff;
    padding: 40px;
    form {
        display: flex ;
        justify-content: space-between;
    }
    input {
        width: 805px;
        height: 55px;
        border: 1px solid #dcdcdc;
        border-radius: 4px;
        padding: 0 225px 0 40px;
        font-weight: 500;
        font-family: "Quicksand", sans-serif;
        color: #333333;
        &::placeholder {
            font-size: 16px;
            color: #676767;
        }
      
    }
    button {
        width: 225px;
        height: 55px;
        font-size: 16px;
        color: #fff;
        background-color: $blue;
        font-family: "Quicksand", sans-serif;
        font-weight: normal;
        border: none;
        border-radius: 4px;
    }
}
.search__inner-form-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.search__inner-form-category {
    position: absolute;
    right: 0;
    height: 55px;
    width: 195px;
    top: auto;
    line-height: 55px;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    color: #676767;
    border-left: 1px solid #dcdcdc;
    
}