@import "vars";
@import "global";
@import "fonts";

//start header
.header__logo {
  display: block;
  cursor: pointer;
}
.header__top {
  background-color: #eef1f3;

  &-inner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-btn {
    background-color: $blue;
    color: #fff;
    display: block;
    font-size: 16px;
    width: 140px;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    margin-right: 50px;
  }
  &-author {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-name {
    display: block;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    color: #333333;
    font-weight: 500;
  }
  &-cash {
    display: block;
    color: $blue;
    padding-top: 8px;
    font-size: 15px;
    background-image: url();
  }
}
.header__top-avatar-link {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 30px;
}
.header__bottom-inner {
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-list {
  li {
    display: inline-block;
    & + li {
      margin-left: 30px;
    }
  }
  a {
    font-size: 15px;
    color: #333333;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Quicksand", sans-serif;
  }
}
.header__bottom-form {
  max-width: 360px;
  width: 100%;
  position: relative;
  input {
    height: 45px;
    display: block;
    width: 100%;
    border: 1px solid #dae0e6;
    border-radius: 20px;
    padding: 15px 90px 15px 25px;
    font-weight: 500;
    font-family: "Quicksand", sans-serif;
    color: #333333;
    &::placeholder {
      color: #898f96;
      font-size: 15px;
      padding: 15px 90px 15px 25px;
    }
  }
  button {
    width: 70px;
    height: 45px;
    border: none;
    border-radius: 25px;
    background-color: $blue;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    outline: none;
  }
}
.header_top-notif {
  display: flex;
  justify-content: space-between;
}
.header__circle {
  padding-top: 10px;
  text-align: center;
  width: 40px;
  height: 40px;
  display: block;
  margin-right: 30px;
  font-size: 20px;
  color: #7e8fa1;
  position: relative;
  span {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    text-align: center;
    top: -6px;
    right: -9px;
    line-height: 20px;
  }
}
.header_top-notif .notif {
  background-color: #ff6a6c;
  right: -5px;
}
.message {
  background-color: #62d03b;
}
.basket {
  background-color: #0674ec;
}

//end header

//start search
.search {
  position: relative;
  min-height: 730px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &__inner {
    text-align: center;
    padding: 185px 0 140px;
    &-titel {
      font-size: 60px;
      line-height: 70px;
      color: #fff;
      span {
        display: block;
        font-weight: 900;
        font-family: "Quicksand", sans-serif;
        margin-bottom: 35px;
      }
    }
    &-text {
      font-weight: 500;
      font-family: "Quicksand", sans-serif;
      font-size: 20px;
      color: #fff;
      margin-bottom: 60px;
    }
  }
}
.search__inner-link {
  a {
    width: 190px;
    height: 55px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    line-height: 55px;
    font-size: 16px;
    border-radius: 30px;
    margin-bottom: 140px;
    transition: all 0.5s;
    & + a {
      margin-left: 30px;
    }
    &:hover {
      background-color: #fff;
      color: $blue;
    }
  }
}
.search__inner-form {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  position: absolute;
  bottom: -67px;
  max-width: 1140px;
  width: 100%;
  height: 140px;
  background-color: #fff;
  padding: 40px;
  border-radius: 4px;
  form {
    display: flex;
    justify-content: space-between;
  }
  input {
    width: 805px;
    height: 55px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding: 0 225px 0 40px;
    font-weight: 500;
    font-family: "Quicksand", sans-serif;
    color: #333333;
    &::placeholder {
      font-size: 16px;
      color: #676767;
    }
  }
  button {
    width: 225px;
    height: 55px;
    font-size: 16px;
    color: #fff;
    background-color: $blue;
    font-family: "Quicksand", sans-serif;
    font-weight: normal;
    border: none;
    border-radius: 4px;
  }
}
.search__inner-form-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.search__inner-form-category {
  position: absolute;
  right: 0;
  height: 55px;
  width: 195px;
  top: auto;
  line-height: 55px;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: #676767;
  border-left: 1px solid #dcdcdc;
}
.box-shodow-one {
  max-width: 1080px;
  width: 100%;
  height: 94px;
  background-color: #fff;
  position: absolute;
  opacity: 0.5;
  border-radius: 5px;
  bottom: 0;
  left: 50%;
  margin-left: -540px;
}
.box-shodow-two {
  position: absolute;
  height: 82px;
  max-width: 1112px;
  width: 100%;
  background-color: #fff;
  opacity: 0.5;
  bottom: 0;
  left: 50%;
  margin-left: -556px;
  border-radius: 4px;
}
//end search

//start examples
.examples__inner {
  padding-top: 185px;
  padding-bottom: 120px;
  display: flex;
  justify-content: space-between;
}
.examples__item {
  max-width: 360px;
  padding: 40px 30px 35px 45px;
  text-align: center;
  &:hover {
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
}
.examples-images {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 35px;
  min-width: 113px;
  height: 120px;
  display: block;
}
.examples__title {
  font-size: 30px;
  @include f700;
  margin-bottom: 25px;
  color: #000;
}
.examples__text {
  font-size: 16px;
  color: #555555;
  padding-bottom: 50px;
}
//end examples
//start slider-single

.slider-single {
  padding: 122px 0px;
  background-color: #eff1f5;
}
.slider-single__head {
  height: 80px;
  padding: 25px 25px;
  background-color: #fff;
  margin-bottom: 50px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider-single__head-text {
  font-size: 30px;
  color: #000;
}
.slider-single__head-btn {
  width: 110px;
  height: 45px;
  border-radius: 22px;
  background-color: #7347c1;
}
.slider-single__inner {
  background-color: #fff;
}
.slider-single-wrapper {
  display: flex;
  justify-content: space-between;
}
.slider-single-img {
  min-width: 50%;
  min-height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider-single-box {
  padding: 50px 55px 25px 50px;
}
.slider-single-title {
  color: #000;
  font-size: 24px;
  @include f500;
  margin-bottom: 15px;
}
.slider-single-info {
  max-width: 220px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  align-items: center;
}
.slider-single-name {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.slider-single-avatar {
  margin-right: 20px;
  color: #000;
  font-size: 15px;
  @include f700;
}
.slider-single-thema {
  font-size: 15px;
  color: #7347c1;
}
.slider-single-text {
  margin-top: 30px;
  font-size: 16px;
  line-height: 30px;
  color: #555555;
  margin-bottom: 35px;
}
.slider-single-link {
  padding-bottom: 44px;
  border-bottom: 1px solid #ececec;
  margin-bottom: 23px;
  a {
    padding: 7px 18px;
    background-color: #f1f3f6;
    border-radius: 12px;
    height: 28px;
    color: #868c96;
    font-size: 15px;
    & + a {
      margin-left: 7px;
    }
  }
}
.slider-single-price {
  height: 32px;
  width: 100px;
  padding: 9px;
  background-color: #0674ec;
  border-radius: 14px;
  text-align: center;
  font-size: 15px;
  @include f500;
  color: #fff;
}
.slider-single-box-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
}
.slider-single-like {
  span {
    margin-left: 20px;
    color: #555555;
    font-size: 15px;
    font-family: "Quicksand-Regular", sans-serif !important;
    &::before {
      color: #7347c1;
      font-family: "icomoon";
      padding-right: 10px;
    }
  }
}
.slider-single-cart {
  span {
    color: #0674ec;
    font-size: 15px;
    font-family: "Quicksand-Regular", sans-serif !important;
    margin-left: 17px;
    &::before {
      font-family: "icomoon";
      padding-right: 10px;
    }
  }
}
.slider-single-bottom-info {
  display: flex;
  align-items: center;
  justify-content: start;
  max-width: 250px;
  width: 100%;
}
.slider-single__inner {
  .slick-prev.slick-arrow {
    position: absolute;
    top: -104px;
    right: 44px;
    border: none;
    background: transparent;
    cursor: pointer;
    &::before {
      color: #fff;
      font-size: 24px;
      font-family: "icomoon";
    }
  }
  .slick-next.slick-arrow {
    position: absolute;
    top: -102px;
    right: 94px;
    border: none;
    background: transparent;
    transform: rotate(180deg);
    cursor: pointer;
    &::before {
      color: #fff;
      font-size: 24px;
      font-family: "icomoon";
    }
  }
}
//end slider-single

//start product
.product {
  border-top: 115px;
  padding-bottom: 120px;
}
.product__head {
  padding: 43px 32px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  height: 110px;
  margin-bottom: 30px;
}
.product__title {
  font-size: 30px;
  color: #000000;
}
.product__filter {
  font-size: 16px;
  color: #747b86;
  padding-right: 27px;
  font-family: "Quicksand-Regular", sans-serif !important;
  font-weight: 400;
  padding-top: 5px;
}
.product__filter.icon-th-list {
  position: relative;
  &::before {
    position: absolute;
    right: 0;
    top: 6px;
    font-family: "icomoon";
    font-size: 17px;
  }
}
.product__btn {
  height: 92px;
  padding: 30px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
  align-items: center;
  display: flex;
  margin-bottom: 50px;
  button {
    cursor: pointer;
    color: #747b86;
    font-size: 15px;
    padding: 0px 20px 0px;
    height: 32px;
    line-height: 32px;
    background-color: #f1f3f6;
    border-radius: 15px;
    border: none;
    & + button {
      margin-left: 10px;
    }
  }
}
.product__inner-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product__inner-item {
  max-width: 360px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  margin-bottom: 30px;
}
.product__item-img {
  a {
    min-height: 230px;
    width: 100%;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 28px;
  }
}
.product__item-content {
  padding-right: 30px;
  padding-left: 30px;
}
.product__item-title {
  @include f500;
  font-size: 20px;
  color: #000;
  margin-bottom: 18px;
}
.product__item-info {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.product__item-avatar {
  height: 29px;
  width: 29px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 7px;
}
.product__item-name {
  font-size: 15px;
  color: #000;
  margin-right: 20px;
}
.product__item-thema {
  color: #7347c1;
  font-size: 15px;
  padding-left: 24px;
  position: relative;
  &::before {
    content: "\f099";
    font-family: "icomoon";
    position: absolute;
    left: 0;
    font-size: 17px;
  }
}
.product__item-text {
  p {
    line-height: 30px;
    font-size: 16px;
    color: #555555;
    margin-bottom: 32px;
  }
}
.product__item-bottom {
  border-top: 1px solid #ececec;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 30px;
}
.product__item-price {
  height: 30px;
  background-color: #e6f1fd;
  border-radius: 13px;
  font-size: 15px;
  color: #0674ec;
  line-height: 30px;
  padding: 0px 15px;
  margin-right: 16px;
}
.product__item-like {
  font-size: 15px;
  line-height: 30px;
  color: #6f7d8d;
  position: relative;
  padding-left: 20px;
  &::before {
    content: "\f08a";
    font-family: "icomoon";
    position: absolute;
    left: 0;
    font-size: 17px;
    color: #7f4ec2;
  }
}
.product__item-cart {
  padding-left: 24px;
  font-size: 15px;
  color: #0674ec;
  line-height: 30px;
  position: relative;
  &::before {
    content: "\f07a";
    position: absolute;
    left: 0;
    font-size: 17px;
    font-family: "icomoon";
  }
}
.product__bottom-btn {
  text-align: center;
  button {
    margin-top: 30px;
    width: 190px;
    background-color: #0674ec;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 18px 33px;
    border-radius: 25px;
    cursor: pointer;
  }
}
//end product
